# Compiled Object files
*.sln.cache
*.dll
*.exe
*.pdb
*.dll.config

# NuGet Packages
*.nuget.props
*.nuget.targets

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
*.aps
*.exp
*.vspx
*.user
*.userosscache
*.sln.docstates

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]uild[Ll]og.txt
[Uu]nityGenerated/
[Oo]bj/